body, :host {
  background: #f4f6f9;
  min-height: 100vh;
  display: block;
}

.wrapper {
  min-height: 100vh;
}

.content-wrapper {
  min-height: calc(100vh - 120px);
  margin-right: 250px; /* reserve space for fixed sidebar */
  padding-top: 0;
}

@media (max-width: 991px) {
  .content-wrapper {
    margin-right: 0;
  }
}

