.main-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
}

body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper {
  margin-right: 250px;
}

