<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a routerLink="/" class="brand-link">
    <span class="brand-text font-weight-light">STORE</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a routerLink="/" class="d-block">Omar Ragab</a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
        <li class="nav-item">
          <a routerLink="/books" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>New Books</p>
          </a>
        </li>
        <li class="nav-header">الحالة</li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p>تم بيعه</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon far fa-circle text-warning"></i>
            <p>تم استعارته</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p>متاح</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>

