.book-card {
  position: relative;
  margin-bottom: 1.5rem;
}

.options {
  position: absolute;
  top: 10px;
  right: 10px;
}

.widget-user-header {
  padding: 60px 20px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.widget-user-image {
  top: -40px;
  margin-right: -45px;
}

